[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
yfinance = "*"
influxdb = "*"
pandas = "*"
lxml = "*"

[requires]
python_version = "3.8"
