services:
  app:
    container_name: suivi-bourse-app
    depends_on:
    - prometheus
    environment:
    - SB_SCRAPING_INTERVAL=60
    - LOG_LEVEL=DEBUG
    build: ../app
    restart: unless-stopped
    ports:
    - 8081:8081
    volumes:
    - ./config.yaml:/home/appuser/.config/SuiviBourse/config.yaml:ro
    develop:
      watch:
        - action: rebuild
          path: ../app/src
        - action: rebuild
          path: ../app/requirements.txt
  grafana:
    container_name: suivi-bourse-graf
    depends_on:
    - prometheus
    image: grafana/grafana:12.3.2
    ports:
    - 3000:3000
    restart: unless-stopped
    volumes:
    - ./grafana_provisioning:/etc/grafana/provisioning
    develop:
      watch:
        - action: sync+restart
          path: ./grafana_provisioning
          target: /etc/grafana/provisioning
  prometheus:
    command:
    - --config.file=/etc/prometheus/prometheus.yml
    - --storage.tsdb.path=/prometheus
    - --web.console.libraries=/usr/share/prometheus/console_libraries
    - --web.console.templates=/usr/share/prometheus/consoles
    container_name: suivi-bourse-prom
    image: prom/prometheus:v3.9.1
    ports:
    - 9090:9090
    restart: unless-stopped
    volumes:
    - sb_prometheus_data:/prometheus
    - ./prometheus_provisioning:/etc/prometheus/
volumes:
  sb_prometheus_data:
    driver: local
