services:
  app:
    container_name: suivi-bourse-app
    depends_on:
    - prometheus
    environment:
    - SB_SCRAPING_INTERVAL=${SCRAPING_INTERVAL}
    image: ghcr.io/pbrissaud/suivi-bourse-app:latest
    pull_policy: always
    restart: unless-stopped
    volumes:
    - ./config.yaml:/home/appuser/.config/SuiviBourse/config.yaml:ro
  grafana:
    container_name: suivi-bourse-graf
    depends_on:
    - prometheus
    image: grafana/grafana:12.2.0
    ports:
    - 3000:3000
    restart: unless-stopped
    volumes:
    - ./grafana_provisioning:/etc/grafana/provisioning
  prometheus:
    command:
    - --config.file=/etc/prometheus/prometheus.yml
    - --storage.tsdb.path=/prometheus
    - --web.console.libraries=/usr/share/prometheus/console_libraries
    - --web.console.templates=/usr/share/prometheus/consoles
    container_name: suivi-bourse-prom
    image: prom/prometheus:v2.55.1
    restart: unless-stopped
    volumes:
    - sb_prometheus_data:/prometheus
    - ./prometheus_provisioning:/etc/prometheus/
version: '3.8'
volumes:
  sb_prometheus_data:
    driver: local
