name: "Create a new release"
on:
  workflow_dispatch:
    inputs:
      bumping:
        description: Bump type (PATCH/MINOR/MAJOR)
        default: PATCH
        required: true
jobs:
  bumping:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: "${{ secrets.TOKEN }}"
      GITHUB_BRANCH: "master"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - uses: actions/setup-python@v4.8.0
        with:
          python-version: "3.x"

      - uses: BSFishy/pip-action@v1
        with:
          packages: |
            PyYAML
            semver
            PyGithub
            mdutils

      - id: bump_version
        run: python3 utils/bumping.py ${{ github.event.inputs.bumping }}
