name: "Acceptance tests"

on:
  pull_request:
    branches: [ master ]

jobs:
  python-linter:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - uses: ricardochaves/python-lint@v1.4.0
        with:
          python-root-list: "app/src/"
          use-pycodestyle: false
          use-pylint: false
          use-black: false
          use-mypy: false
          use-isort: false
          extra-flake8-options: "--ignore=E501"

  codeql:
    name: Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'python' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: ${{ matrix.language }}

    - name: Autobuild
      uses: github/codeql-action/autobuild@v1

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1

  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            paulbrissaud/suivi-bourse
          # generate Docker tags based on the following events/attributes
          tags: |
            type=ref,event=pr

      - name: Build
        uses: docker/build-push-action@v2
        with:
          context: ./app
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
