name: "Pull request process"

on:
  pull_request:
    branches: [master]

jobs:
  dco-check:
    name: DCO Check
    runs-on: ubuntu-latest
    steps:
      - uses: tisonkun/actions-dco@v1.1

  python-linter:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ricardochaves/python-lint@v1.4.0
        with:
          python-root-list: "app/src/"
          use-pycodestyle: false
          use-pylint: false
          use-black: false
          use-mypy: false
          use-isort: false
          extra-flake8-options: "--ignore=E501"

  e2e-test:
    name: "E2E Test"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - uses: actions/setup-python@v4.7.0
        with:
          python-version: "3.x"

      - uses: BSFishy/pip-action@v1
        with:
          requirements: app/requirements.txt

      - uses: BSFishy/pip-action@v1
        with:
          packages: |
            requests

      - id: run_tests
        run: |
          mkdir -p ~/.config/SuiviBourse
          cat > ~/.config/SuiviBourse/config.yaml << EOL
          ---
          shares:
          - name: Apple
            symbol: AAPL
            purchase:
              quantity: 1
              fee: 2
              cost_price: 119.98
            estate:
              quantity: 2
              received_dividend: 2.85
          - name: Bitcoin
            symbol: BTC-USD
            purchase:
              quantity: 1
              fee: 2
              cost_price: 5000
            estate:
              quantity: 1
              received_dividend: 0
          EOL
          python3 app/src/testing.py

  build-docs:
    name: "Building doc"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files in the docs folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v37
        with:
          files: |
            website/**
      - name: Build docs if folder changed
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        working-directory: website
        run: |
          yarn install
          yarn build
